/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* Estilos body*/

body{
    background-color: #1da1f2;
}

.navbar-brand,.navbar-nav .nav-link {
    color: white;
    font-size: 2rem;
    margin-left: 50px;
    font-weight: bold;
    }


/* Estilo para el encabezado */
h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 100px;
    color: white;
    font-weight: bold;
    }

    /* app/assets/stylesheets/custom.css */

    /* Cambiar el color del texto */
    .card-body {
        color:black; 

        }
    /* Cambiar el tamaño del texto */
    .card-body p {
        font-size: 1.5rem; 
        margin-left: 20px;
        margin-top: 10px;
    }